# HW 03 Web Analytics/Web Usage Mining

## Datasets explanations

### clicks.csv
- LocalID - local identifier of an event
- PageID - identifier of a visited page
- VisitID - session identifier
- PageName - page label
- CatName, CatID - page type (Navigation), general information
- ExtCat,ExtCatID - page type (Content), more specific information
- TopicName, TopicID - topic
- TimeOnPage - time spent on the page. Last page of the session = 30s.
- PageScore - weight of the page using the following heuristic: (ln(o)+1)*t
- SequenceNumber - page order within a session
### visitors.csv
- VisitID - session identifier
- Referrer - anonymized referrer
- Day - day of the visit
- Hour - hour of the visit
- Length_seconds - visit length in seconds
- Length_pagecount - visit length as number of visited pages
### search_engine_map.csv
- Referrer - anonymized referrer
- Type - type of the referrer domain

## Load data & display them and information about them

In [105]:
!pip3 install pandas

Requirement already satisfied: pandas in /Users/babakjan/Developer/ddw/hw/04/venv/lib/python3.11/site-packages (2.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/babakjan/Developer/ddw/hw/04/venv/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/babakjan/Developer/ddw/hw/04/venv/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /Users/babakjan/Developer/ddw/hw/04/venv/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /Users/babakjan/Developer/ddw/hw/04/venv/lib/python3.11/site-packages (from pandas) (1.24.2)
Requirement already satisfied: six>=1.5 in /Users/babakjan/Developer/ddw/hw/04/venv/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip available: 22.3.1 -> 23.1
[notice] To update, run: pip install --upgrade pip

In [106]:
import pandas as pd

clicksDf = pd.read_csv("../wum_dataset_hw/clicks.csv")
visitorsDf = pd.read_csv("../wum_dataset_hw/visitors.csv")
searchEngineMapDf = pd.read_csv("../wum_dataset_hw/search_engine_map.csv")

print("CLICKS")
print("clicks dataframe")
display(clicksDf)
print("clicks statistics")
display(clicksDf.describe())
print("VISITORS")
print("visitors dataframe")
display(visitorsDf)
print("visitors statistics")
display(visitorsDf.describe())
print("SEARCH ENGINE")
print("search engine map dataframe")
display(searchEngineMapDf)
print("search engine map dataframe")
display(searchEngineMapDf.describe())

CLICKS
clicks dataframe

,LocalID,PageID,VisitID,PageName,CatName,CatID,ExtCatName,ExtCatID,TopicName,TopicID,TimeOnPage,PageScore,SequenceNumber
0,648460,3044,1185,TravelAgency,Info,1,homepage,1,In general,1000,30,30,1
1,648461,3045,1185,tours with tents,Search,2,Catalog,5,Tourism,1,30,50,2
2,648462,3046,1185,hiking,Search,2,Catalog,5,Hiking,3,30,62,3
3,648463,3047,1185,mountain expedition,Search,2,Catalog,5,VHT,21,30,71,4
4,648464,3048,1185,water,Search,2,Catalog,5,Water,2,30,78,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
38446,686906,3052,17265,Far tours,Search,2,Catalog,5,exotica,5,120,203,2
38447,686907,3078,17265,Mexico Guatemala Belize Honduras,Trip,3,undetected,-1,exotica,5,120,251,3
38448,686908,3854,17265,Mexico Guatemala Honduras Mayan big way,Trip,3,undetected,-1,exotica,5,120,286,4
38449,686909,3599,17265,Kenya Tanzania safari and Zanzibar,Trip,3,undetected,-1,exotica,5,60,156,5
38450,686910,3250,17266,Norway Norwegian fjords,Trip,3,undetected,-1,Tours with accommodation,8,30,30,1

clicks statistics

,LocalID,PageID,VisitID,CatID,ExtCatID,TopicID,TimeOnPage,PageScore,SequenceNumber
count,38451.000000,38451.000000,38451.000000,38451.000000,38451.000000,38451.000000,38451.000000,38451.000000,38451.000000
mean,667685.000000,3286.412551,9289.646589,2.204910,1.952979,298.325869,72.412421,143.092975,3.555122
std,11099.991937,408.577090,4632.131281,0.862188,2.815815,447.815966,114.640528,260.595877,4.269960
min,648460.000000,3044.000000,1185.000000,-2.000000,-2.000000,-2.000000,30.000000,30.000000,1.000000
25%,658072.500000,3047.000000,5261.000000,2.000000,-1.000000,4.000000,30.000000,30.000000,1.000000
50%,667685.000000,3093.000000,9407.000000,2.000000,1.000000,12.000000,30.000000,62.000000,2.000000
75%,677297.500000,3317.000000,13231.500000,3.000000,5.000000,1000.000000,60.000000,125.000000,4.000000
max,686910.000000,5258.000000,17266.000000,5.000000,10.000000,1000.000000,2640.000000,5753.000000,50.000000

VISITORS
visitors dataframe

       VisitID Referrer      Day  Hour  Length_seconds  Length_pagecount
0         1185    URI_9   Sunday    23               0                 6
1         1186   URI_38   Sunday    23             300                 2
2         1187    URI_0   Sunday    23             240                12
3         1188   URI_45   Monday     0               0                 1
4         1189    URI_0   Monday     0             540                 7
...        ...      ...      ...   ...             ...               ...
15554    17261    URI_5  Tuesday    14               0                 1
15555    17262  URI_111  Tuesday    14               0                 1
15556    17263  URI_111  Tuesday    14               0                 1
15557    17264   URI_45  Tuesday    14             240                 5
15558    17265    URI_0  Tuesday    14             360                 5

[15559 rows x 6 columns]

visitors statistics

            VisitID          Hour  Length_seconds  Length_pagecount
count  15559.000000  15559.000000    15559.000000      15559.000000
mean    9225.450157     13.814705      128.908028          2.471239
std     4654.823196      4.809969      328.777507          2.998959
min     1185.000000      0.000000        0.000000          1.000000
25%     5181.500000     11.000000        0.000000          1.000000
50%     9223.000000     14.000000        0.000000          1.000000
75%    13266.500000     17.000000      120.000000          3.000000
max    17265.000000     23.000000     5280.000000         50.000000

SEARCH ENGINE
search engine map dataframe

    Referrer      Type
0      URI_0       NaN
1      URI_1     Other
2      URI_2     Other
3      URI_3     Other
4      URI_4     Other
..       ...       ...
135  URI_135     Other
136  URI_136  Partners
137  URI_137  Partners
138  URI_138  Fulltext
139  URI_139     Other

[140 rows x 2 columns]

search engine map dataframe

       Referrer   Type
count       140    134
unique      140      5
top       URI_0  Other
freq          1     73

## Data cleaning and preprocessing

### Clicks

- I removed entries with undetected CatName.
- I also removed columns: LocalID, CatID, ExtCatID, and TopicID

In [107]:
# Finds all category names
print(f"all possible category names: {set(clicksDf['CatName'])}")
      
# count number of undetected categories
print(f"undetected categories count: {len(clicksDf[clicksDf['CatName'] == 'undetected'])}")

# print length of uncleaned clicksDf
uncleanedClicksDfLength = len(clicksDf)
print(f"before cleanup clicks length: {uncleanedClicksDfLength}")

# remove all rows with undecided cat name
clicksDf = clicksDf[clicksDf["CatName"] != "undetected"]

# drop column
clicksDf = clicksDf.drop(["LocalID", "CatID", "ExtCatID", "TopicID"], axis=1)

display(clicksDf)

# print length of cleaned clicks length
cleanedClicksDfLength = len(clicksDf)
print(f"after cleanup clicks length: {cleanedClicksDfLength}")

all possible category names: {'Search', 'undetected', 'Application', 'Trip', 'Info'}
undetected categories count: 157
before cleanup clicks length: 38451

,PageID,VisitID,PageName,CatName,ExtCatName,TopicName,TimeOnPage,PageScore,SequenceNumber
0,3044,1185,TravelAgency,Info,homepage,In general,30,30,1
1,3045,1185,tours with tents,Search,Catalog,Tourism,30,50,2
2,3046,1185,hiking,Search,Catalog,Hiking,30,62,3
3,3047,1185,mountain expedition,Search,Catalog,VHT,30,71,4
4,3048,1185,water,Search,Catalog,Water,30,78,5
...,...,...,...,...,...,...,...,...,...
38446,3052,17265,Far tours,Search,Catalog,exotica,120,203,2
38447,3078,17265,Mexico Guatemala Belize Honduras,Trip,undetected,exotica,120,251,3
38448,3854,17265,Mexico Guatemala Honduras Mayan big way,Trip,undetected,exotica,120,286,4
38449,3599,17265,Kenya Tanzania safari and Zanzibar,Trip,undetected,exotica,60,156,5
38450,3250,17266,Norway Norwegian fjords,Trip,undetected,Tours with accommodation,30,30,1

after cleanup clicks length: 38294

### Visitors

- Next, I removed to short visits (5 seconds or less).

In [108]:
uncleanedVisitorsDfLength = len(visitorsDf)
print(f"before cleanup visitors length: {uncleanedVisitorsDfLength}")

# print number of to short visits
shortVisitThreshold = 5
print(f"number of to short visits: {len(visitorsDf[visitorsDf['Length_seconds'] <= shortVisitThreshold])}")

# remove to short visits
visitorsDf = visitorsDf[visitorsDf['Length_seconds'] > shortVisitThreshold]

# print length of cleaned visitors length
cleanedVisitorsDfLength = len(clicksDf)
print(f"after cleanup visitors length: {cleanedVisitorsDfLength}")

display(visitorsDf)

before cleanup visitors length: 15559
number of to short visits: 9992
after cleanup visitors length: 38294

       VisitID Referrer      Day  Hour  Length_seconds  Length_pagecount
1         1186   URI_38   Sunday    23             300                 2
2         1187    URI_0   Sunday    23             240                12
4         1189    URI_0   Monday     0             540                 7
5         1190   URI_45   Monday     0             180                 2
7         1192    URI_9   Monday     1             300                 8
...        ...      ...      ...   ...             ...               ...
15548    17255    URI_9  Tuesday    14             540                 5
15550    17257    URI_0  Tuesday    14             300                 3
15553    17260    URI_0  Tuesday    14              60                 4
15557    17264   URI_45  Tuesday    14             240                 5
15558    17265    URI_0  Tuesday    14             360                 5

[5567 rows x 6 columns]

## Conversions

### Main conversions

In [109]:
mainConversions = df[df["PageName"].isin(["APPLICATION", "CATALOG"])]
print(f"count of main conversions / all items = = {len(mainConversions)} / {len(df)} = = {len(mainConversions) / len(df)}")
display(mainConversions)

count of main conversions / all items = = 497 / 26991 = = 0.018413545255826017

,PageID,VisitID,PageName,CatName,ExtCatName,TopicName,TimeOnPage,PageScore,SequenceNumber,Referrer,Day,Hour,Length_seconds,Length_pagecount,Type
68,3065,4068,CATALOG,Info,Send catalog,In general,60,156,5,URI_38,Sunday,22,1860,17,Fulltext
69,3065,4068,CATALOG,Info,Send catalog,In general,60,229,17,URI_38,Sunday,22,1860,17,Fulltext
246,4728,10946,CATALOG,Info,Send catalog,In general,30,62,3,URI_38,Saturday,13,60,3,Fulltext
286,3065,12581,CATALOG,Info,Send catalog,In general,180,304,2,URI_38,Tuesday,11,240,3,Fulltext
347,3065,14144,CATALOG,Info,Send catalog,In general,30,62,3,URI_38,Thursday,12,300,3,Fulltext
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26746,3065,12611,CATALOG,Info,Send catalog,In general,120,286,4,URI_4,Tuesday,12,240,4,Other
26789,3065,8710,CATALOG,Info,Send catalog,In general,60,101,2,URI_97,Monday,11,60,2,Other
26807,3065,9708,CATALOG,Info,Send catalog,In general,60,60,1,URI_103,Wednesday,2,60,2,Other
26844,3065,11681,CATALOG,Info,Send catalog,In general,120,203,2,URI_130,Monday,9,60,2,Partners
26879,3065,11696,CATALOG,Info,Send catalog,In general,60,198,10,URI_99,Monday,10,1500,11,OwnWebs

### Micro conversions

In [110]:
microConversions = df[df["PageName"].isin(["DISCOUNT", "INSURANCE", "HOWTOJOIN", "WHOWEARE"])]
print(f"count of micro conversions / all items = = {len(microConversions)} / {len(df)} = = {len(microConversions) / len(df)}")
display(microConversions)

count of micro conversions / all items = = 442 / 26991 = = 0.016375828980030382

,PageID,VisitID,PageName,CatName,ExtCatName,TopicName,TimeOnPage,PageScore,SequenceNumber,Referrer,Day,Hour,Length_seconds,Length_pagecount,Type
52,3880,3936,HOWTOJOIN,Trip,undetected,undetected,30,50,2,URI_38,Sunday,16,300,2,Fulltext
59,3075,4068,WHOWEARE,Info,Who we are,In general,60,226,16,URI_38,Sunday,22,1860,17,Fulltext
122,4165,5964,INSURANCE,Info,Insurance,In general,60,60,1,URI_38,Friday,13,60,3,Fulltext
225,3066,10235,DISCOUNT,Info,Sales,In general,30,83,6,URI_38,Thursday,6,840,6,Fulltext
302,3075,13140,WHOWEARE,Info,Who we are,In general,180,502,6,URI_38,Tuesday,22,300,7,Fulltext
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26605,3066,16358,DISCOUNT,Info,Sales,In general,30,62,3,URI_34,Monday,13,420,3,NaN
26658,3075,6381,WHOWEARE,Info,Who we are,In general,60,125,3,URI_62,Sunday,15,120,4,Other
26701,3075,7132,WHOWEARE,Info,Who we are,In general,30,71,4,URI_87,Tuesday,12,60,4,Fulltext
26824,3075,15557,WHOWEARE,Info,Who we are,In general,30,62,3,URI_32,Sunday,7,120,3,Other
26976,3066,15218,DISCOUNT,Info,Sales,In general,60,101,2,URI_134,Saturday,10,60,4,Other

### Create dataset from main conversions

### Merged dataframe

- I merged the main conversions and clicks datasets to create the final dataset. The datasets were joined using the VisitID attribute.

In [111]:

mainConversionsAll = pd.merge(mainConversions, clicksDf, how="inner", on="VisitID")
# print("All pages visited by user")
# display(mainConversionsAll)

dataset = []
for visitorId in visitorsDf["VisitID"]:
    p = mainConversionsAll[mainConversionsAll["VisitID"] == visitorId]
    dataset.append(p['PageName_y'].values[:]) if p.size > 0 else ...
# display(dataset)

## Apriory algorithm from the lecture

In [112]:
from collections import Counter

def frequentItems(transactions, support):
    counter = Counter()
    for trans in transactions:
        counter.update(frozenset([t]) for t in trans)
    return set(item for item in counter if counter[item]/len(transactions) >= support), counter

def generateCandidates(L, k):
    candidates = set()
    for a in L:
        for b in L:
            union = a | b
            if len(union) == k and a != b:
                candidates.add(union)
    return candidates

def filterCandidates(transactions, itemsets, support):
    counter = Counter()
    for trans in transactions:
        subsets = [itemset for itemset in itemsets if itemset.issubset(trans)]
        counter.update(subsets)
    return set(item for item in counter if counter[item]/len(transactions) >= support), counter

def apriori(transactions, support):
    result = list()
    resultc = Counter()
    candidates, counter = frequentItems(transactions, support)
    result += candidates
    resultc += counter
    k = 2
    while candidates:
        candidates = generateCandidates(candidates, k)
        candidates,counter = filterCandidates(transactions, candidates, support)
        result += candidates
        resultc += counter
        k += 1
    resultc = {item:(resultc[item]/len(transactions)) for item in resultc}
    return result, resultc

In [113]:

frequentItemsets, supports = apriori(dataset, 0.1)
print("Result of Apriori algorithm:")
for f in frequentItemsets:
    print(f"{f}, {supports[f]}")

Result of Apriori algorithm:
frozenset({'Far tours'}), 0.13617021276595745
frozenset({'light hiking'}), 0.14680851063829786
frozenset({'WHOWEARE'}), 0.1425531914893617
frozenset({'lastminute'}), 0.23829787234042554
frozenset({'TravelAgency'}), 1.0659574468085107
frozenset({'tours with tents'}), 0.17872340425531916
frozenset({'tours and holiday comes into hotel'}), 0.17659574468085107
frozenset({'sightseeing tours'}), 0.14893617021276595
frozenset({'hiking'}), 0.17872340425531916
frozenset({'CATALOG'}), 1.123404255319149
frozenset({'TravelAgency', 'CATALOG'}), 0.7021276595744681
frozenset({'CATALOG', 'lastminute'}), 0.18936170212765957
frozenset({'CATALOG', 'light hiking'}), 0.10851063829787234
frozenset({'CATALOG', 'hiking'}), 0.14680851063829786
frozenset({'TravelAgency', 'lastminute'}), 0.13404255319148936
frozenset({'CATALOG', 'tours and holiday comes into hotel'}), 0.10851063829787234
frozenset({'sightseeing tours', 'CATALOG'}), 0.125531914893617
frozenset({'CATALOG', 'tours with tents'}), 0.14468085106382977
frozenset({'TravelAgency', 'hiking'}), 0.11914893617021277
frozenset({'TravelAgency', 'CATALOG', 'lastminute'}), 0.13191489361702127
frozenset({'TravelAgency', 'hiking', 'CATALOG'}), 0.11914893617021277

## Generate rules from apriori algorithm

- Here is a list of rules, which meet the support and confidence criteria.
- I set the confidence greater or equal to 0.5 and the support to 0.1.

In [114]:
def generateRules(frequentItemsets, supports, minConfidence):
    result = []
    for fset in frequentItemsets:
        for consequent in fset:
            antecedent = set(fset).difference([consequent])
            support = supports[fset]
            confidence = supports[fset]
            if len(antecedent) > 0:
                confidence = support/supports[frozenset(antecedent)]
            if confidence > minConfidence:
                result.append({
                    "entecedent": antecedent,
                    "consequent": consequent,
                    "support": support,
                    "confidence": confidence,
                    "len": len(fset)
                })
                print(f"{antecedent} => {consequent}, - support: {round(support, 3)}, confidence: {round(confidence, 3)}")
    return pd.DataFrame(result)

rules = generateRules(frequentItemsets, supports, 0.5)

set() => TravelAgency, - support: 1.066, confidence: 1.066
set() => CATALOG, - support: 1.123, confidence: 1.123
{'CATALOG'} => TravelAgency, - support: 0.702, confidence: 0.625
{'TravelAgency'} => CATALOG, - support: 0.702, confidence: 0.659
{'lastminute'} => CATALOG, - support: 0.189, confidence: 0.795
{'light hiking'} => CATALOG, - support: 0.109, confidence: 0.739
{'hiking'} => CATALOG, - support: 0.147, confidence: 0.821
{'lastminute'} => TravelAgency, - support: 0.134, confidence: 0.562
{'tours and holiday comes into hotel'} => CATALOG, - support: 0.109, confidence: 0.614
{'sightseeing tours'} => CATALOG, - support: 0.126, confidence: 0.843
{'tours with tents'} => CATALOG, - support: 0.145, confidence: 0.81
{'hiking'} => TravelAgency, - support: 0.119, confidence: 0.667
{'CATALOG', 'lastminute'} => TravelAgency, - support: 0.132, confidence: 0.697
{'TravelAgency', 'lastminute'} => CATALOG, - support: 0.132, confidence: 0.984
{'hiking', 'CATALOG'} => TravelAgency, - support: 0.119, confidence: 0.812
{'TravelAgency', 'hiking'} => CATALOG, - support: 0.119, confidence: 1.0

## Results

- The list of rules is brief due to high confidence and support values.
- Catalog is correlated with Travel agency, Last minute is correlated with Catalog and Travel agency, and Light hiking is correlated with Catalog. To view all the correlations, refer to the rules listed above.
- I encountered an issue during development where I accidentally started this homework before the Apriori algorithm was explained in the lecture. As a result, I was lost but eventually found it and waited for the lecture and tutorial.